body{
    font-family: 'Open Sans', sans-serif;
   
}
body{
   margin-left: 350px;
   margin-right: 350px;
   border: 0.1px solid rgb(224, 224, 224);
}
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: tomato;
    padding: 25px;
    font-size: 2rem;
    color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.back_image{
    background-image: url(images/hd.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}
.desk{
    text-align: center;
}
.desk ul a{
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: tomato;
    font-weight: 700;
}

.desk2{
    margin-top: 180px;
}
.desk2 p{
    color: white;
    font-size: 5rem;
}
.desk2 a{
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    background-color: tomato;
    padding: 8px 18px;
    border-radius: 20px;
}
.desk2 a:hover{
    background-color: bisque;
    color: red;
}
.wrapper{
    margin: 10px auto;
    margin-left: 28%;
    padding: 20px;
   box-shadow: 3px 3px 5px rgb(175, 175, 175), -3px -3px 5px rgb(255, 255, 255);
    width: 450px;
}
.image{
    width: 450px;
    height: 350px;
    margin-right: 10px;
    
}
.card-image{
    position: relative;
}
.absolute{
    position: absolute;
    left: 0;
    bottom: 5px;
    background-color: tomato;
    display: block;
    padding: 4px 12px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.absolute1{
    position: absolute;
    background-color: tomato;
    border-radius: 50%;
    padding: 20px;
   right: 30px;
  top: 30px;
  color: white;
  font-weight: 700;
}
h3{
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
}
.city{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: 95px;
    color: tomato;
}
    .flex{
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
    }
 .btn a{
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: tomato;
    color: white;
    padding: 20px;
    font-size: 2rem;
    font-weight: 700;
   
 }
